.place-order {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 12px;
    border: 1px solid #c5c5c5;
    border-radius: 8px;
    outline-color: tomato;
}

.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

/* PAYMENT SECTION */
.payment-method {
    margin-top: 25px;
}

.payment-method h3 {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 600;
}

.payment-option {
    padding: 14px;
    border: 1px solid #cfcfcf;
    border-radius: 12px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    background: #fafafa;
}

.payment-option:hover {
    border-color: tomato;
}

.payment-option.active {
    border-color: tomato;
    background-color: #fff3ed;
    box-shadow: 0px 4px 10px rgba(255, 99, 71, 0.15);
    font-weight: 600;
}

/* RESPONSIVE */
@media (max-width: 800px) {
    .place-order {
        flex-direction: column;
        margin-top: 60px;
    }
}
